.cart-object-div{
    display: flex;
   justify-content: space-around;
    
   border-top: 1px solid white;
    margin-bottom: 5px;
    padding: 10px;
    
    
}
.dress-details{
    display: flex;
    flex-direction: column;
    row-gap: 0;
}

.size-and-style{
    display: flex;
    column-gap: 5px;
}

.cart-images{
    width: 60px;
    height: 90px;
}
.dress-heading{
    font-size: 16px;
    margin: 0;
}
.quantity{
    margin: 0%
}