
.icons-container{
    display: flex;
    
    justify-content: space-between;
    


}
.git-icon{
    width:50px;
    height:50px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-bottom-right-radius: 50%;
    color:white;
}

.bag-icon{
    width:50px;
    height:50px;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    cursor: pointer;
    border-bottom-left-radius: 50%;
    position: fixed;
    right: 0;
    color: white;
}

.main-section{
    display: flex;
    justify-content: space-around;
}
.count{
    position: fixed;
    z-index: 1;
    right:0;
    top:10px;
    width: 15px;
    text-align: center;
    background-color: yellow;
    border-radius: 50%;
    padding: 3px;
    color: black;
}
.black-button{
    width:60px;
    height: 60px;
    border-radius: 50%;
    border-color: rgb(255, 251, 0);
    margin: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
}
.button-container{
    margin-top: 150px;
    
    height:200px;
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
    width: 250px;
    justify-content: space-around;
    padding: 10px;
    font-size: 20px;
    
}

.button{
    width:60px;
    height: 60px;
    border-radius: 50%;
    border-color:rgb(255, 230, 0);
    margin: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    
}
.white-button{
    width:60px;
    height: 60px;
    border-radius: 50%;
    border-color:rgb(255, 230, 0);
    margin: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.products-container{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    width: 1000px;
    
    
}

.hr-line{
    width:40px;
    height: 1px;
    background-color: rgb(255, 230, 0);
}
.buttons{
    display: flex;
    width: 300px;
    height: 200px;
    
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-images{
    width: 200px;
    height: 150px;
    padding: 5px;
    border-radius: 15px;
    
}
.product-images-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    padding: 20px;
    color: black;
    
}
.products-found{
    text-align: center;
    font-size: 20px;
}

.separate-product{
    margin: 10px;
    background-color:rgb(247, 192, 90);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    border-color: orange;
}
.add-to-cart{
    width:180px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    cursor: pointer;
}