.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-div{
  display: flex;
  flex-direction: column;
  
 
}
.bag-icon-cart{
  background-color: rgb(0, 0, 0);
  color: white;
  height:30px;
  width: 30px;
  padding: 2px;
}

.cart-false{
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 5px;
  position: absolute;
  left:-35px;
  cursor: pointer;
}
.checkout-bag{
  width:50px;
  height: 50px;
  background-color: rgb(3, 3, 3);
  border: 5px;
}
.total-cart{
  background-color: rgb(0, 0, 0);
  position: absolute;
  right: 0;
  height: 100vh;
  position: fixed;
  width: 500px;
  color: white;
}
.total-footer{
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  text-align: center;
  
}
.checkout-cart-number{
  position: absolute;
  top:5%;
  right: 50%;
  background-color: rgb(172, 172, 0);
  color: white;
  padding: 5px;
}

.bag-icon-cart{
  position: absolute;
  top:5%;
  right: 50%;
  width: 50px;
}
.subtotal-footer{
  padding-left: 10px;
  display: flex;
  align-items: center;
  column-gap: 150px;
  margin-left: 40px;
  
  width: 400px;
}
.products-word{
  font-size: 20px;
  position: relative;
  top:16%;
  left: 4%;
}
.total-amount{
  color: yellow;
}
.checkout-button{
  width: 280px;
  height: 40px;
  margin-left: 60px;
  background-color: rgb(233, 233, 10);
  color: rgb(0, 0, 0);
  font-size: 15px;
  cursor: pointer;
  

}
.cart-dress{
  
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow: scroll;
  overflow-x: hidden;
  width: 500px;
  margin-top: 25%;
  padding: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
